# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Vite build output
frontend/dist/
backend/dist/

# Local env files
*.env
*.env.local

# OS junk files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/